/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
/*mobil*/

h1 {
  text-align: center;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.boxy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 1px solid rgb(179, 177, 177);
  border-radius: 3%;
  box-shadow: 0px 2px 3px #a9f5f2;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 280px;
}

/*talbet*/
@media screen and (min-width: 541px) and (max-width: 960px) {
  .boxy {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    height: 210px;
    flex-basis: 46%;
    align-items: center;
  }

  .fotkaJarmila,
  .fotkaKlotylda,
  .fotkaLucie,
  .fotkaLucinda {
    flex: 1 25%;
  }

  .jarmila,
  .klotylda,
  .lucie,
  .lucinda {
    margin-left: 10px;
    text-align: left;
    flex: 1 1 35%;
  }
}

/*PC*/
@media screen and (min-width: 961px) {
  .boxy {
    border: springgreen 3px solid;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
  }

  .box {
    text-align: center;
    height: 300px;
    width: 25%;
    flex-grow: 1 1;
  }
}
